@using MVC_CV.Models.Entity
@model List<TblEgitim>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Education List</h2>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Subtitle</th>
        <th>Subtitle 2</th>
        <th>Date</th>
        <th>GPA</th>
        <th>Delete</th>
        <th>Update</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.Baslik</td>
            <td>@item.AltBaslik</td>
            <td>@item.AltBaslik2</td>
            <td>@item.Tarih</td>
            <td>@item.GNO</td>
            <td><a href="/Egitim/EgitimSil/@item.ID" class="btn btn-danger">Delete</a></td>
            <td><a href="/Egitim/EgitimDuzenle/@item.ID" class="btn btn-warning">Update</a></td>
        </tr>
    }
</table>

<a href="/Egitim/EgitimEkle" class="btn btn-primary">Add New Education</a>

